<section class="thirteen columns">
    <h1>Certifications</h1>
    <article>
        <p>
            <em>Open Group TOGAF® 9 Certification</em>
        <p>
            <em>AWS Certified DevOps Engineer – Professional</em>
        </p>
        <p>
            <em>AWS Certified SysOps Administrator – Associate</em>
        </p>
        <p>
            <em>AWS Certified Solutions Architect – Associate</em>
        </p>
        <p>
            <em>Microsoft Certified: Azure Fundamentals</em>
        </p>
        <p>
            <em>Google Cloud Certified - Associate Cloud Engineer</em>
        </p>
        <p>
            <em>Red Hat Certified Engineer (RHCE)</em>
        </p>
    </article>
</section>
