<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Cloud Engineer, Norsk Tipping</h1>
            <span><time>2021 to present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>Chief Consultant, TietoEVRY</h1>
            <span><time>2000 to 2021</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
</section>
