<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>AWS project</h1>
            <span><address>Customer 1</address><time>2013</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Azure project</h1>
            <span><address>Customer 2</address><time>2013</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
</section>