<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p>
            Cloud Enginer who has experience with delivery and operation of IT
            platforms and services since 2000. I have experience both as a project
            participant in deliveries and as an operational manager for customer solutions in production. In the recent years, work on cloud services, both public and private, as well as containers and DevOps has been the primary focus areas.  
            <br><br>
            I have experience with DevOps as a culture and working method from internal and external assignments and knowledge of CI/CD and the most common tools and technologies associated with this.   
            <br><br>
            I want to highlight "AWS Certified DevOps Engineer - Professional", "AWS Certified Solutions Architect - Associate", "AWS Certified SysOps Administrator - Associate" and «Azure Fundamentals».
            <br><br>
            I believe I have a good and comprehensive technological understanding, and can quickly familiarize myself with different challenges and find possible solutions to these.    
        </p>
    </article>
</section>